
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:#283478;
    --secondary:#F6A117;
}


@font-face {
    font-family: 'ag_book_roundedmedium';
    src: url('fuentes/ag_book_rounded_medium-webfont.woff2') format('woff2'),
         url('fuentes/ag_book_rounded_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: 'Roboto-BoldCondensed';
    src:url('fuentes/Roboto-BoldCondensed')format('ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
}

/*---------------------------------------------------- NAVEGACION------------------------------------ */
.header{
    background-color: #171716;
    border-bottom:4px solid #f2b648;
    height: 80px;
    position: fixed;z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
  }
  .header img{
    height: 70px;
    width: 110px;
  }
  .nav_menu_link_promociones{
    color:#F44336;
    text-decoration: none;
  }
  .nav{
     display: flex;
     justify-content: space-between;
  }
  .nav_menu_link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
  }
  
  .nav_menu_link_carta:hover{
    transform: scale(1.1);
  }
  .nav_menu_link_carrito{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #F44336;
    border: 2px solid rgb(255, 255, 255);
  }
  .nav_menu_link_carrito:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(196, 54, 29);
  }
  .nav_menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  .nav_menu_item{
    margin: 0 20px;
    text-transform:uppercase;
    line-height: 80px;
    width: max-content;/* Si tienes 2 palabras no lo va a mandar para abajo si se acorta el width */
  }
  
  .nav_menu_link:hover{
    background-color: rgb(99, 98, 96);
    transition: 0.5s;
  }
  .icon_nav{
    height: 100%;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
  
    display: none;
  }
  
/*------------------------------BODY--------------------------------*/
.cuerpo-landing {
    display: grid;
    width: 100%;
    color: var(--primary);
    grid-template-columns: 60% 40%;
    padding: 50px 50px 30px 30px;
    background-color: #ffff;
}

.landing-partes-amarillas{
    color: var(--secondary);
}
.titulo-landing{
    padding-right: 20px;
}
.titulo-landing h1{
    font-family: 'ag_book_roundedmedium';
}
.titulo-landing h4{
    font-family: 'Roboto-BoldCondensed';
}
.titulo-landing .soluciones h4{
    font-family: 'ag_book_roundedmedium';
}
.titulo-landing p{
    font-size: 18px;
}

.cuerpo-form-landing h3{
    font-family: 'ag_book_roundedmedium';
}
.button-landing{
    padding: 10px 15px;
    background-color: var(--secondary);
    color: #ffff;
    border: none;
    font-family: 'ag_book_roundedmedium';
    font-size: 18px;
    border-radius: 5px;
}
.button-landing:hover{
   color: var(--primary);
   transition: 0.5s;
   background-color: #ffff;
}
.text-formulario{
    color: var(--primary);
}
.text-formulario-permisos{
    font-size: 13px;
}

.text-alert{
    margin-top: 10px;
    padding:10px 15px;
    color: #ffff;
    border: none;
    border-radius: 3px;
    background-color: #8d2a26;
}
.text-confirmacion{
    color: #ffff;
    margin-top: 10px;
    border: none;
    padding:10px 15px;
    border-radius: 3px;
    background-color: #388642;
}

/*-------------------FOOTER--------------------  */
.footer-container{
    padding: 20px 50px;
}
.text-footer{
    color: #9c9c9c;
}
.footer{   
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    justify-content:space-around;
}

.divisor-align{
    display: flex;
    justify-content: center;
}
.divisor-footer{
    width: 100%;
    border-bottom: 0.5px solid #9c9c9c;
}
@media(max-width:825px){
    .cuerpo-landing{
        display: block;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .titulo-landing{
        padding: 0;
    }
    .cuerpo-form-landing{
        padding-top: 20px;
    }
    .img-emprendedor{
        display: none;
    }
}

